@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");

.hero-image {
  height: 70vh;
  width: 100%;
  background-image: url("https://s3.gaming-cdn.com/images/homeDisplay/campaign-banner-626ab88f75912.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.wave {
  z-index: 0;
  margin-top: -22%;
}
