@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");

* {
  scroll-behavior: smooth;
  font-family: "Metrophobic", sans-serif;
}

body {
  background-color: #f2f3f4;
}

.swiper-pagination-bullet {
  border: 5px solid #fff;
}

section:nth-child(4) {
  width: 150%;
}

section:nth-child(5) {
  margin-left: 317px;
  width: 150%;
}

hr {
  width: 80%;
  margin: 0 auto;
  border: 1px solid gray;
}

td,
th {
  border: none;
  text-align: center;
  padding: 20px;
}

.mySwiper {
  cursor: grab;
}
