@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");

@layer base {
  html {
    font-family: "Metrophobic", sans-serif;
  }
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: #f2f3f4;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/forza_5.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 80vh;
}

.wave {
  margin-top: -420px;
}

.hero-link {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: "#fff";
  color: "#000";
  font-weight: 500;
  padding: "14px 28px";
}

.category {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://www.instant-gaming.com/themes/igv2/modules/category/images/category-background1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
